/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Author     : Kuek Yong Boon
*/

.container{
    display : flex;
}

.detailContainer{
    width: 80%;
}

.resultListContainer{
    width: 20%;
    border : 1px black solid;
}

.detailContainer > h1 {
    text-align: center;
}

.detailContainer > h3 {
    text-align: center;
}

.resultListContainer > p {
    text-align: center;
}

.tableStyle{
    width : 100%;
    margin-left: auto;
    margin-right: auto;
}

