<html>
    <head>
        <title>N-World</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../css/header.css">
    </head>
    <body>
        <div class="headerContainer">
            <div class="topContainer">
                <div class="headerLogo">
                    N - W
                    <img class="logo" src="../image/nWorldLogoNoBG.png" style="height:60px; vertical-align: middle; "/>
                    RLD
                </div>
                <div class="headerLink">
                    <a>Home</a>
                    <a href="../Store/StorePage.php">Store</a>
                    <a href="../Competition/CompetitivePage.php">Competition Info</a>
                </div>
            </div>
            <div class="userNameContainer">
                <div class="profilePic">
                    <img src="../image/user.svg" alt="profilePicture"/>
                </div>
                <div class="profileName">
                    User Name
                </div>
            </div>
        </div>
    </body>
</html>
