<!DOCTYPE html>
<!--
    Created on : 15 Aug 2020
    Author     : LIM YI EN
-->
<html>
    <head>
        <title>Hello</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="css/store.css">
    </head>
    
    <body>
        <div class="contentContainer">
        <hr />
        <p>Note To Customer : Products below are for displayed purpose. We do not accept online payment. 
            If you are interested in any of the products, please contact us via email ( weiqi@gmail.com ) 
            or phone number ( 03-8888 8888). Thank you.</p>
        <hr />
        </div>
        <form action="/Store.php">
            <label for="category">Category: </label>
            <select id="category" name="category">
                <option value="sets">Chess Sets</option>
                <option value="chessboard">Chessboard</option>
                <option value="pieces">Chess Pieces</option>
                <option value="jars">Chess Jars</option>
            </select>
            <!--<input type="submit">-->
        </form>
        
    </body>
</html>
