/* 
    Created on : 16 Aug 2020, 1:22:05 am
    Author     : Lim Yi En
*/

body {
    padding:0;
    margin:0;
}

.proDetailsContainer {
    margin-right: 20px;
    margin-left: 20px;
}

.notesContainer {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 5px;
    margin-left: 5px;
    background-color: #D7EDF9;
}

.proDetailContainer{
    margin-right: 5px;
    margin-left: 5px;
}

img{
    float: left;
    margin-right: 20px;
}

