/* 
    Created on : 15 Aug 2020
    Author     : LIM YI EN
*/
body{
    padding:0;
    margin:0;
}

.storeContainer{
    margin-right: 20px;
    margin-left: 20px;
}

.noteContainer{
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 5px;
    margin-left: 5px;
    background-color: #D7EDF9;
}

.item{
    padding-left: 5px;
    padding-right: 5px;
    size: 14sp;
}

